<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LigOfLeyends">
        <activity
            android:name=".Noticia"
            android:exported="false" />
        <activity
            android:name=".Foro"
            android:exported="false" />
        <activity
            android:name=".Guia"
            android:exported="false" />
        <activity
            android:name=".CrearGuia"
            android:exported="false"
            android:theme="@style/Theme.LigOfLeyends" />
        <activity
            android:name=".Configuracion"
            android:exported="false"
            android:theme="@style/Theme.LigOfLeyends" />
        <activity
            android:name=".Opciones"
            android:exported="false"
            android:theme="@style/Theme.LigOfLeyends" />
        <activity
            android:name=".CrearForo"
            android:exported="false" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false" />
        <activity
            android:name=".configuracion"
            android:exported="false"
            android:theme="@style/Theme.LigOfLeyends" />
        <activity
            android:name=".BasesDeDatos"
            android:exported="false" />
        <activity
            android:name=".ListaGuias"
            android:exported="false" />
        <activity
            android:name=".ListaNoticias"
            android:exported="false" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".ListaForos"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>